.staff
  header
    padding-bottom: 10px
    position: relative
    h1
      font-weight: bold
      text-decoration: none
      color: black
      font-size: 20px
      margin-bottom: 10px

      &::before
        font-size: 14px
  table
    width: 100%
    th
      background: $light-gray
      border-right: 3px solid white
      border-bottom: 3px solid white
      padding: 5px
      font-weight: bold

      &:last-child
        border-right: none
    td
      padding: 5px
      border-right: 3px solid white
      border-bottom: 3px solid white

      &:last-child
        border-right: none

    tr:nth-child(odd) td
      background: lighten($light-gray, 5%)

    tr:hover td
      background: $light-gray
