$text: hsl(0,0%,30%)

$blue: #33b5e5
$dark-blue: #0099cc

$purple: #AA66CC
$dark-purple: #9933cc

$green: #99cc00
$dark-green: #669900

$orange: #ffbb33
$dark-orange: #ff8800

$red: #ff4444
$dark-red: #cc0000

$light-gray: hsl(0,0%,90%)

$code-background: hsl(210,6%,12%)
$code-current-line: #282a2e
$code-selection: #373b41
$code-foreground: #c5c8c6
$code-comment: #969896
$code-red: #cc6666
$code-orange: #de935f
$code-yellow: #f0c674
$code-green: #b5bd68
$code-aqua: #8abeb7
$code-blue: #81a2be
$code-purple: #b294bb
