@import compass/reset
@import compass/css3

@import partials/constants
@import partials/colors
@import partials/typography
@import partials/icons
@import partials/code

#header, #content
  width: $width
  margin: 0 auto

body
  font-family: $roboto
  font-size: $font-size
  line-height: $line-height
  color: $text

footer#footer
  font-size: 10px
  line-height: 12px
  color: darken($light-gray, 20%)

  li
    display: inline-block
    border-right: 1px solid darken($light-gray, 20%)
    padding: 0 5px
    &:last-child
      border-right: none
  a
    color: inherit
    text-decoration: none
@import segments/header
@import segments/content
@import segments/page_headers
@import segments/post
@import segments/staff
@import segments/sponsors

