.wrap
  %hgroup
    %h1= link_to 'Snoonet', :root
  %nav#navigation
    %ul
      %li= link_to_unless_current t('navigation.updates'), :root
      %li= link_to t('navigation.webchat'), CONFIG[:links][:webchat]
