!!! 5
%html
  %head
    = stylesheet_link_tag 'application-screen', media: 'screen'
    = javascript_include_tag 'application'
    %link{href:'https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,italic,bolditalic', rel: 'stylesheet', type: 'text/css'}
  %body
    = yield
